<<template>
    <div class="mt-3">
        <h2>
            Articles
        </h2>

        <!-- Adding  Articles -->

        <form  @submit.prevent="addArticle" class="mb-3 mt-3">
            <fieldset>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" v-model="article.title">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Body" v-model="article.body"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save Article</button>
            </fieldset>
        </form>


        <div class="card text-white bg-primary mb-3" v-for="article in articles" v-bind:key="article.id">
        <div class="card-header">{{article.id}}</div>
        <div class="card-body">
        <h4 class="card-title">{{article.title}}</h4>
        <p class="card-text">{{article.body}}</p>
        <button @click="editArticle(article)" class="btn btn-warning">Edit</button>
        <button @click="deleteArticle(article.id)" class="btn btn-danger">Delete</button>
        </div>
        </div>
        <!-- Pagination -->
        <div>
        <ul class="pagination">
        <li v-bind:class="[{disabled:!pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#"
        @click="fetchArticles(pagination.prev_page_url)">Previous</a></li>

        <li class="page-item disabled">
            <a class="page-link text-dark" href="#">
                Page {{pagination.current_page}} of {{pagination.last_page}}
            </a>
        </li>

        <li v-bind:class="[{disabled:!pagination.next_page_url}]" class="page-item"><a class="page-link" href="#"
        @click="fetchArticles(pagination.next_page_url)">Next</a></li>
        </li>
        </ul>
        </div>

        
    </div>   
</template>

<script>
export default {
    name:'articles',
    data(){// Since this is a component we have data as a function which will return objects
        return {
            articles:[],// This is an array, it will hold the the panginated data
            article:{// This is an object which will represent a single article
                'id':'',// id of the article
                'title':'',// title of the article
                'body':''// body of the article
            },
            article_id:'',// since we have a put request feature on our api, we will need the article_id
            pagination:[],// this will hold the paginated data
            edit:false// by default it should be false as we will be preventing editing by default on the page
    }
    },
        // Lets create a method that will fetch the data for us
        created(){
            this.fetchArticles();
        },
        methods:{
            fetchArticles(page_url){
                page_url=page_url||'api/articles'
                fetch(page_url)// we are using the fetch api, to fetch the data from the backend
                .then(res=>res.json())// then we are encoding the response data in a json object
                .then(res=>{
                    this.articles=res.data;
                    this.makePagination(res.meta,res.links);
                })
                .catch(err=>console.log(err));
            },
            makePagination(meta, links)
            {
                let pagination={
                    current_page:meta.current_page,
                    last_page:meta.last_page,
                    next_page_url:links.next,
                    prev_page_url:links.prev,
                }
                this.pagination=pagination;
            },
            deleteArticle(id){
                if(confirm('Are You Sure?')){
                    fetch(`api/article/${id}`,{
                        method:'DELETE'
                    })
                    .then(res=>res.json())
                    .then(data=>{
                        alert('Article Removed!');
                        this.fetchArticles();
                    })
                    .catch(err=>console.log(err))
                }
            },
            addArticle(){
                if(this.edit===false){
                    //Add
                    fetch('api/article',{
                        method:'post',
                        body:JSON.stringify(this.article),
                        headers:{
                            'content-type':'application/json'
                        }
                    })
                    .then(res=>res.json())
                    .then(data=>{
                        this.article.title='';
                        this.article.body='';
                        alert('Article Added');
                        this.fetchArticles();
                    })
                    .catch(err=>console.log(err));
                }
                else{
                    // Update
                    fetch('api/articles',{
                        method:'put',
                        body:JSON.stringify(this.article),
                        headers:{
                            'content-type':'application/json'
                        }
                    })
                    .then(res=>res.json())
                    .then(data=>{
                        this.article.title='';
                        this.article.body='';
                        alert('Article Updated');
                        this.fetchArticles();
                    })
                    .catch(err=>console.log(err));

                }
            },
            editArticle(article)
            {
                this.edit=true;
                this.article.id=article.id;
                this.article.article_id=article.id;
                this.article.title=article.title;
                this.article.body=article.body;
            }
        }
}
</script>